@import '../../variables.scss';

.pomodoro {
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  background: $white;
  margin: 3rem 1.2rem;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-in-out;

  h2 {
    font-size: 24px;
    text-align: center;
  }

  .controls {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
  }

  .details {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
    margin-left: 2rem;

    p {
      font-size: 16px;
      font-weight: 600;
    }
  }
}